apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp-deployment
  labels:
    app: myapp

spec:
  replicas: 3

  # select pod to manage
  selector:
    matchLabels:
      app: myapp

  # Pod definition
  template:
    metadata:
      labels:
        app: myapp

    # pod spec
    spec:
      containers:
      - name: myapp
        image: ttl.sh/palmapp:2h


