# Expose port 
apiVersion: v1
kind: Service
metadata:
  labels:
    app: myapp
  name: myapp

spec:
  selector:
    app: myapp

  type: NodePort 

  ports:
    - port: 4444
      protocol: TCP
      targetPort: 4444

